# Environment variables / secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/
build/

# Database
*.db
*.sqlite
*.sqlite3

# OS/editor noise
.DS_Store
.vscode/
.idea/

# test files
*.csv
*.CSV
!test*.csv